
.checkmark-icon {
  width: 1rem;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.flex-item {
  width: 50%;
  background-color: gray;
  line-height: 50px;
}

.Offers {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 2.5rem;
  color: white;
  background-color: white;
}
.offer-1, .offer-3, .offer-2, .offer-4 {
  background-color: #EF6B72;
  height: 8rem;
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.offer-4 {
  background-color: #E50914;
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #E50914;
}
.box-arrow {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.text {
font-size: larger;
line-height: 1.5rem;
}
.offer-2 .text {
  font-size: larger;
line-height: 1.5rem;
}

.detail-offer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 2.5rem;
  color: #737377;
  background-color: white;
  border-bottom: 0.1rem solid #737377;
}
.detail-offer-1 {
  flex: 1; /* flex 1 will take the available space*/
}
.detail-offer-2, .detail-offer-3, .detail-offer-4, .detail-offer-5 {
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail-text {
  font-size: larger;
  font-weight: 600;
  line-height: 1rem;
}
.detail-offer-5 {
  color: #E50914;
}
.detail-text-long {
  font-size: larger;
  font-weight: 600;
  line-height: 1rem;
  width: 85%;
}
.detail-text-long-2 {
  font-size: larger;
  font-weight: 600;
  line-height: 1rem;
  width: 95%;
}

.extra-col {
  display: none;
}

.visible {
  display: flex;
}

