<app-topBand></app-topBand>
<div class="all-page-2">
  <div class="stages-title-container">
    <p class="stages-nbr-2">
      Étape <span class="nbr-2">1</span> sur <span class="nbr-2">3</span>
    </p>
    <h1 class="page-2-title">Sélectionnez le forfait qui vous convient</h1>
  </div>
  <div class="checkmark-container">
    <ul class="checkmark-list">
      <li class="checkmark-content">
        <svg
          viewBox="0 0 24 24"
          fill="red"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          class="checkmark-icon"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M8.68239 19.7312L23.6824 5.73115L22.3178 4.26904L8.02404 17.6098L2.70718 12.293L1.29297 13.7072L7.29297 19.7072C7.67401 20.0882 8.28845 20.0988 8.68239 19.7312Z"
          ></path>
        </svg>
        <p class="content-p">Regardez autant que vous voulez.</p>
      </li>
      <li class="checkmark-content">
        <svg
          viewBox="0 0 24 24"
          fill="red"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          class="checkmark-icon"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M8.68239 19.7312L23.6824 5.73115L22.3178 4.26904L8.02404 17.6098L2.70718 12.293L1.29297 13.7072L7.29297 19.7072C7.67401 20.0882 8.28845 20.0988 8.68239 19.7312Z"
          ></path>
        </svg>
        <p class="content-p">Recommandations personnalisées.</p>
      </li>
      <li class="checkmark-content">
        <svg
          viewBox="0 0 24 24"
          fill="red"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          class="checkmark-icon"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M8.68239 19.7312L23.6824 5.73115L22.3178 4.26904L8.02404 17.6098L2.70718 12.293L1.29297 13.7072L7.29297 19.7072C7.67401 20.0882 8.28845 20.0988 8.68239 19.7312Z"
          ></path>
        </svg>
        <p class="content-p">Changez ou annulez votre forfait à tout moment</p>
      </li>
    </ul>
  </div>
  <div class="flex-container">
    <div class="flex-item">
      <div class="Offers">
        <span class="offer-1"
          ><p class="text">Essentiel <br />avec pub</p></span
        >
        <span
          class="offer-2 extra-col"
          [ngClass]="{ visible: isExtraColVisible }"
          ><p class="text">Essentiel</p></span
        >
        <span class="offer-3"><p class="text">Standard</p></span>
        <div class="box-arrow">
          <span class="offer-4">
            <p class="text">Premium</p>
          </span>
          <div class="arrow-down"></div>
        </div>
      </div>
    </div>
    <div class="flex-item">
      <div class="detail-offer">
        <span class="detail-offer-1"
          ><p class="detail-text">Abonnement mensuel</p></span
        >
        <span class="detail-offer-2"><p class="detail-text">5.99</p></span>
        <span class="detail-offer-3" *ngIf="isExtraColVisible"
          ><p class="detail-text">8.99</p></span
        >
        <span class="detail-offer-4"><p class="detail-text">13.49</p></span>
        <span class="detail-offer-5"><p class="detail-text">17.99</p></span>
      </div>
    </div>
    <div class="flex-item">
      <div class="detail-offer">
        <span class="detail-offer-1"
          ><p class="detail-text">Qualité vidéo</p></span
        >
        <span class="detail-offer-2"><p class="detail-text">Bonne</p></span>
        <span class="detail-offer-3" *ngIf="isExtraColVisible"
          ><p class="detail-text">Bonne</p></span
        >
        <span class="detail-offer-4"><p class="detail-text">Meilleure</p></span>
        <span class="detail-offer-5"><p class="detail-text">Optimale</p></span>
      </div>
    </div>
    <div class="flex-item">
      <div class="detail-offer">
        <span class="detail-offer-1"
          ><p class="detail-text">Résolution</p></span
        >
        <span class="detail-offer-2"><p class="detail-text">720p</p></span>
        <span class="detail-offer-3" *ngIf="isExtraColVisible"
          ><p class="detail-text">720p</p></span
        >
        <span class="detail-offer-4"><p class="detail-text">1080p</p></span>
        <span class="detail-offer-5"><p class="detail-text">4K+HDR</p></span>
      </div>
    </div>
    <div class="flex-item">
      <div class="detail-offer">
        <span class="detail-offer-1">
          <p *ngIf="!isExtraColVisible" class="detail-text-long">
            Netflix sur votre TV, ordinateur, smartphone et tablette
          </p>
          <p *ngIf="isExtraColVisible" class="detail-text-long-2">
            Netflix sur votre TV, ordinateur, smartphone et tablette
          </p>
        </span>
        <span class="detail-offer-2">
          <svg
            viewBox="0 0 24 24"
            fill="#737377"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
            class="checkmark-icon"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M8.68239 19.7312L23.6824 5.73115L22.3178 4.26904L8.02404 17.6098L2.70718 12.293L1.29297 13.7072L7.29297 19.7072C7.67401 20.0882 8.28845 20.0988 8.68239 19.7312Z"
            ></path>
          </svg>
        </span>
        <span class="detail-offer-3" *ngIf="isExtraColVisible">
          <svg
            viewBox="0 0 24 24"
            fill="#737377"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
            class="checkmark-icon"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M8.68239 19.7312L23.6824 5.73115L22.3178 4.26904L8.02404 17.6098L2.70718 12.293L1.29297 13.7072L7.29297 19.7072C7.67401 20.0882 8.28845 20.0988 8.68239 19.7312Z"
            ></path>
          </svg>
        </span>
        <span class="detail-offer-4"
          ><svg
            viewBox="0 0 24 24"
            fill="#737377"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
            class="checkmark-icon"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M8.68239 19.7312L23.6824 5.73115L22.3178 4.26904L8.02404 17.6098L2.70718 12.293L1.29297 13.7072L7.29297 19.7072C7.67401 20.0882 8.28845 20.0988 8.68239 19.7312Z"
            ></path>
          </svg>
        </span>
        <span class="detail-offer-5"
          ><svg
            viewBox="0 0 24 24"
            fill="red"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
            class="checkmark-icon"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M8.68239 19.7312L23.6824 5.73115L22.3178 4.26904L8.02404 17.6098L2.70718 12.293L1.29297 13.7072L7.29297 19.7072C7.67401 20.0882 8.28845 20.0988 8.68239 19.7312Z"
            ></path>
          </svg>
        </span>
      </div>
    </div>
    <div class="flex-item">
      <div class="detail-offer-no">
        <span class="detail-offer-1"
          ><p class="detail-text">Téléchargements</p></span
        >
        <span class="detail-offer-2"
          ><svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="#737377"
            xmlns="http://www.w3.org/2000/svg"
            class="planGrid__booleanGraphic planGrid__booleanGraphic--isX"
            focusable="false"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M24 13L-1.74846e-07 13L0 11L24 11L24 13Z"
              fill="currentColor"
            ></path>
          </svg>
        </span>
        <span class="detail-offer-3" *ngIf="isExtraColVisible"
          ><svg
            viewBox="0 0 24 24"
            fill="#737377"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
            class="checkmark-icon"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M8.68239 19.7312L23.6824 5.73115L22.3178 4.26904L8.02404 17.6098L2.70718 12.293L1.29297 13.7072L7.29297 19.7072C7.67401 20.0882 8.28845 20.0988 8.68239 19.7312Z"
            ></path>
          </svg>
        </span>
        <span class="detail-offer-4"
          ><svg
            viewBox="0 0 24 24"
            fill="#737377"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
            class="checkmark-icon"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M8.68239 19.7312L23.6824 5.73115L22.3178 4.26904L8.02404 17.6098L2.70718 12.293L1.29297 13.7072L7.29297 19.7072C7.67401 20.0882 8.28845 20.0988 8.68239 19.7312Z"
            ></path>
          </svg>
        </span>
        <span class="detail-offer-5"
          ><svg
            viewBox="0 0 24 24"
            fill="red"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
            class="checkmark-icon"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M8.68239 19.7312L23.6824 5.73115L22.3178 4.26904L8.02404 17.6098L2.70718 12.293L1.29297 13.7072L7.29297 19.7072C7.67401 20.0882 8.28845 20.0988 8.68239 19.7312Z"
            ></path>
          </svg>
        </span>
      </div>
      <button class="offer-btn" *ngIf="!isExtraColVisible" (click)="toggleExtraCol()">
        Voir toutes les offres
      </button>
      <div class="debut-warning">
        <div class="wrng-1">
          <span class="lock-img"
            ><svg width="18" height="18" viewBox="0 0 18 18" fill="none">
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M4 5C4 2.23858 6.23858 0 9 0C11.7614 0 14 2.23858 14 5V6H16C17.1046 6 18 6.89543 18 8V16C18 17.1046 17.1046 18 16 18H2C0.89543 18 0 17.1046 0 16V8C0 6.89543 0.89543 6 2 6H4V5ZM12 5V6H6V5C6 3.34315 7.3431 2 9 2C10.6569 2 12 3.34315 12 5ZM2 8V16H16V8H2ZM8 10V14H10V10H8Z"
                fill="#6E6E6E"
              ></path>
            </svg>
          </span>
          <div>
            <p class="small-text-2">
              En raison de restrictions liées aux licences, quelques films et
              séries ne sont pas disponibles dans Essentiel avec pub. Certaines
              restrictions sur l'emplacement et les appareils s'appliquent
              également. <span class="link-wtkm-2">En savoir plus.</span>
            </p>
          </div>
        </div>
        <p class="small-text-2">
          Si vous sélectionnez Essentiel avec pub, nous vous demanderons de
          fournir votre date de naissance pour personnaliser les publicités,
          ainsi qu'à d'autres fins conformes à la
          <span class="link-conf">Déclaration de confidentialité</span> de
          Netflix.
        </p>
        <p class="small-text-2">
          La disponibilité de la HD (720p), de la Full HD (1080p), de l'Ultra HD
          (4K) et de la HDR dépend de votre connexion Internet et des capacités
          de l'appareil. Tous les contenus ne sont pas disponibles dans toutes
          les résolutions. Pour en savoir plus, veuillez consulter nos
          <span class="link-conditions">Conditions d'utilisation.</span>
        </p>
        <p class="small-text-2 last-text">
          Seules les personnes qui vivent avec vous peuvent utiliser votre
          compte. Regardez Netflix en simultané sur 4 appareils différents avec
          l'offre Premium, sur 2 appareils avec l'offre Standard, et sur 1
          appareil avec l'offre Essentiel ou Essentiel avec pub.
        </p>
      </div>
    </div>
    <button class="nextbtn" [routerLink]="['/fr/signup/planform']">
      Suivant
    </button>
  </div>
</div>
<app-wtkm-footer></app-wtkm-footer>
