
.stages-title-container {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: grid;
}
.stages-nbr-2 {
  margin-top: 2rem;
  margin-bottom: -1rem;
}
.nbr-2 {
  font-weight: 600;
}
.page-2-title {
  margin-bottom: -2rem;
}

.checkmark-container {
  width: 100%;
  margin-bottom: 3rem;
}
.checkmark-list {
  list-style-type: none;
  justify-content: center;
  align-items: center;
  display: grid;
  font-size: x-large;
  margin-right: 5rem;
}
.checkmark-content {
  display: flex;
  gap: 1rem;
  margin-bottom: -2rem;
}
.checkmark-icon {
  width: 1.5rem;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.flex-item {
  width: 50%;
  line-height: 50px;
}

.Offers {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 2.5rem;
  color: white;
  background-color: white;
}
.offer-1, .offer-3, .offer-2, .offer-4 {
  background-color: #EF6B72;
  height: 8rem;
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.offer-4 {
  background-color: #E50914;
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #E50914;
}
.box-arrow {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.text {
font-size: larger;
line-height: 1.5rem;
}
.offer-2 .text {
  font-size: larger;
line-height: 1.5rem;
}

.detail-offer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 2.5rem;
  color: #737377;
  background-color: white;
  border-bottom: 0.1rem solid #737377;
}
.detail-offer-no {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 2.5rem;
  color: #737377;
  background-color: white;
}
.detail-offer-1 {
  flex: 1; /* flex 1 will take the available space*/
}
.detail-offer-2, .detail-offer-3, .detail-offer-4, .detail-offer-5 {
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail-text {
  font-size: larger;
  font-weight: 600;
  line-height: 1rem;
}
.detail-offer-5 {
  color: #E50914;
}
.detail-text-long {
  font-size: larger;
  font-weight: 600;
  line-height: 1rem;
  width: 85%;
}
.detail-text-long-2 {
  font-size: larger;
  font-weight: 600;
  line-height: 1rem;
  width: 95%;
}

.offer-btn {
  margin-left: 45%;
  padding: 0.5rem 2rem 0.5rem 2rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #E5E5E5;
  margin-bottom: 1rem;
  cursor: pointer;
}


.debut-warning {
  background-color: white;
}
.wrng-1 {
  background-color: #F3F3F3;
  display: flex;
 align-items: center;
 justify-content: center;
  gap: 1rem;
  width: 100%;
  line-height: normal;
}
.lock-img {
  margin-left: 1rem;
}
.small-text, .small-text-2 {
  font-size: 0.9rem;
  width: 90%;
  color: #6E727B;
  line-height: normal;
}
.link-wtkm-2, .link-conf, .link-conditions {
  color: #0071EB;
}
.last-text {
  margin-bottom: 2rem;
}

.nextbtn {
  background-color: red;
  color: white;
  font-size: x-large;
  padding: 1rem 9rem 1rem 9rem;
  border: none;
  margin-bottom: 7rem;
  cursor: pointer;
}

.extra-col {
  display: none;
}

.visible {
  display: flex;
}

