<app-topBand></app-topBand>
<div>
  <p class="stages-nbr-2">
    Étape <span class="nbr-2">1</span> sur <span class="nbr-2">3</span>
  </p>
  <h1>Sélectionnez le forfait qui vous convient</h1>
  <div>
    <ul class="checkmark-list">
      <li class="checkmark-content">
        <svg
          viewBox="0 0 24 24"
          fill="red"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          class="checkmark-icon"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M8.68239 19.7312L23.6824 5.73115L22.3178 4.26904L8.02404 17.6098L2.70718 12.293L1.29297 13.7072L7.29297 19.7072C7.67401 20.0882 8.28845 20.0988 8.68239 19.7312Z"
          ></path>
        </svg>
        <p class="content-p">Regardez autant que vous voulez.</p>
      </li>
      <li class="checkmark-content">
        <svg
          viewBox="0 0 24 24"
          fill="red"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          class="checkmark-icon"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M8.68239 19.7312L23.6824 5.73115L22.3178 4.26904L8.02404 17.6098L2.70718 12.293L1.29297 13.7072L7.29297 19.7072C7.67401 20.0882 8.28845 20.0988 8.68239 19.7312Z"
          ></path>
        </svg>
        <p class="content-p">Recommandations personnalisées.</p>
      </li>
      <li class="checkmark-content">
        <svg
          viewBox="0 0 24 24"
          fill="red"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          class="checkmark-icon"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M8.68239 19.7312L23.6824 5.73115L22.3178 4.26904L8.02404 17.6098L2.70718 12.293L1.29297 13.7072L7.29297 19.7072C7.67401 20.0882 8.28845 20.0988 8.68239 19.7312Z"
          ></path>
        </svg>
        <p class="content-p">Changez ou annulez votre forfait à tout moment</p>
      </li>
    </ul>
  </div>
  <div class="flex-container">
    <div class="flex-item">
      <div class="Offers">
        <span class="offer-1"
          ><p class="text">Essentiel <br />avec pub</p></span
        >
        <span
          class="offer-2 extra-col"
          [ngClass]="{ visible: isExtraColVisible }"
          ><p class="text">Essentiel</p></span
        >
        <span class="offer-3"><p class="text">Standard</p></span>
        <div class="box-arrow">
          <span class="offer-4">
            <p class="text">Premium</p>
          </span>
          <div class="arrow-down"></div>
        </div>
      </div>
    </div>
    <div class="flex-item">
      <div class="detail-offer">
        <span class="detail-offer-1"
          ><p class="detail-text">Abonnement mensuel</p></span
        >
        <span class="detail-offer-2"><p class="detail-text">5.99</p></span>
        <span class="detail-offer-3" *ngIf="isExtraColVisible"
          ><p class="detail-text">8.99</p></span
        >
        <span class="detail-offer-4"><p class="detail-text">13.49</p></span>
        <span class="detail-offer-5"><p class="detail-text">17.99</p></span>
      </div>
    </div>
    <div class="flex-item">
      <div class="detail-offer">
        <span class="detail-offer-1"
          ><p class="detail-text">Qualité vidéo</p></span
        >
        <span class="detail-offer-2"><p class="detail-text">Bonne</p></span>
        <span class="detail-offer-3" *ngIf="isExtraColVisible"
          ><p class="detail-text">Bonne</p></span
        >
        <span class="detail-offer-4"><p class="detail-text">Meilleure</p></span>
        <span class="detail-offer-5"><p class="detail-text">Optimale</p></span>
      </div>
    </div>
    <div class="flex-item">
      <div class="detail-offer">
        <span class="detail-offer-1"
          ><p class="detail-text">Résolution</p></span
        >
        <span class="detail-offer-2"><p class="detail-text">720p</p></span>
        <span class="detail-offer-3" *ngIf="isExtraColVisible"
          ><p class="detail-text">720p</p></span
        >
        <span class="detail-offer-4"><p class="detail-text">1080p</p></span>
        <span class="detail-offer-5"><p class="detail-text">4K+HDR</p></span>
      </div>
    </div>
    <div class="flex-item">
      <div class="detail-offer">
        <span class="detail-offer-1">
          <p *ngIf="!isExtraColVisible" class="detail-text-long">
            Netflix sur votre TV, ordinateur, smartphone et tablette
          </p>
          <p *ngIf="isExtraColVisible" class="detail-text-long-2">
            Netflix sur votre TV, ordinateur, smartphone et tablette
          </p>
        </span>
        <span class="detail-offer-2">
          <svg
            viewBox="0 0 24 24"
            fill="#737377"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
            class="checkmark-icon"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M8.68239 19.7312L23.6824 5.73115L22.3178 4.26904L8.02404 17.6098L2.70718 12.293L1.29297 13.7072L7.29297 19.7072C7.67401 20.0882 8.28845 20.0988 8.68239 19.7312Z"
            ></path>
          </svg>
        </span>
        <span class="detail-offer-3" *ngIf="isExtraColVisible">
          <svg
            viewBox="0 0 24 24"
            fill="#737377"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
            class="checkmark-icon"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M8.68239 19.7312L23.6824 5.73115L22.3178 4.26904L8.02404 17.6098L2.70718 12.293L1.29297 13.7072L7.29297 19.7072C7.67401 20.0882 8.28845 20.0988 8.68239 19.7312Z"
            ></path>
          </svg>
        </span>
        <span class="detail-offer-4"
          ><svg
            viewBox="0 0 24 24"
            fill="#737377"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
            class="checkmark-icon"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M8.68239 19.7312L23.6824 5.73115L22.3178 4.26904L8.02404 17.6098L2.70718 12.293L1.29297 13.7072L7.29297 19.7072C7.67401 20.0882 8.28845 20.0988 8.68239 19.7312Z"
            ></path>
          </svg>
        </span>
        <span class="detail-offer-5"
          ><svg
            viewBox="0 0 24 24"
            fill="red"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
            class="checkmark-icon"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M8.68239 19.7312L23.6824 5.73115L22.3178 4.26904L8.02404 17.6098L2.70718 12.293L1.29297 13.7072L7.29297 19.7072C7.67401 20.0882 8.28845 20.0988 8.68239 19.7312Z"
            ></path>
          </svg>
        </span>
      </div>
    </div>
    <div class="flex-item">
      <div class="detail-offer">
        <span class="detail-offer-1"
          ><p class="detail-text">Téléchargements</p></span
        >
        <span class="detail-offer-2"
          ><svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="#737377"
            xmlns="http://www.w3.org/2000/svg"
            class="planGrid__booleanGraphic planGrid__booleanGraphic--isX"
            focusable="false"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M24 13L-1.74846e-07 13L0 11L24 11L24 13Z"
              fill="currentColor"
            ></path>
          </svg>
        </span>
        <span class="detail-offer-3" *ngIf="isExtraColVisible"
          ><svg
            viewBox="0 0 24 24"
            fill="#737377"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
            class="checkmark-icon"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M8.68239 19.7312L23.6824 5.73115L22.3178 4.26904L8.02404 17.6098L2.70718 12.293L1.29297 13.7072L7.29297 19.7072C7.67401 20.0882 8.28845 20.0988 8.68239 19.7312Z"
            ></path>
          </svg>
        </span>
        <span class="detail-offer-4"
          ><svg
            viewBox="0 0 24 24"
            fill="#737377"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
            class="checkmark-icon"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M8.68239 19.7312L23.6824 5.73115L22.3178 4.26904L8.02404 17.6098L2.70718 12.293L1.29297 13.7072L7.29297 19.7072C7.67401 20.0882 8.28845 20.0988 8.68239 19.7312Z"
            ></path>
          </svg>
        </span>
        <span class="detail-offer-5"
          ><svg
            viewBox="0 0 24 24"
            fill="red"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
            class="checkmark-icon"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M8.68239 19.7312L23.6824 5.73115L22.3178 4.26904L8.02404 17.6098L2.70718 12.293L1.29297 13.7072L7.29297 19.7072C7.67401 20.0882 8.28845 20.0988 8.68239 19.7312Z"
            ></path>
          </svg>
        </span>
      </div>
    </div>
  </div>
  <button *ngIf="!isExtraColVisible" (click)="toggleExtraCol()">
    Toggle extra column
  </button>
</div>
