<app-topBand></app-topBand>
<div>
  <div></div>
  <div class="stages-title-container">
    <p class="stages-nbr-2">
      Étape <span class="nbr-2">1</span> sur <span class="nbr-2">3</span>
    </p>
    <h1 class="page-2-title">Complétez a configuration de votre compte</h1>
    <h2>
      Netflix est personnalisé selon vos goûts. Créez un mot de passe pour
      regarder Netflix quand vous voulez, où vous voulez.
    </h2>
  </div>
  <button class="nextbtn" [routerLink]="['/fr/signup/registration']">
    Suivant
  </button>
</div>
<app-wtkm-footer></app-wtkm-footer>
