<div class="black-bgn">
  <div class="text-second">
    <h1 class="segment-title">Regardez Netflix sur votre TV.</h1>
    <p class="segment-p">
      Regardez Netflix sur votre Smart TV, PlayStation, Xbox, Chromecast, Apple
      TV, lecteur Blu-ray et bien plus.
    </p>
  </div>
  <div class="img-video">
    <img
      alt=""
      src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png"
      data-uia="our-story-card-img"
      class="default-ltr-cache-1d3w5wq tv"
    />
    <div data-uia="our-story-card-animation" class="default-ltr-cache-eshtlu">
      <video
        data-uia="our-story-card-video"
        autoplay=""
        playsinline=""
        muted=""
        loop=""
        class="video"
      >
        <source
          src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/video-tv-0819.m4v"
          type="video/mp4"
        />
      </video>
      <div class="default-ltr-cache-0"></div>
      <div
        data-uia="our-story-card-custom"
        aria-hidden="true"
        class="default-ltr-cache-0"
      ></div>
    </div>
  </div>
</div>
<app-darkline [ngStyle]="{'margin': '25px 0', 'z-index': '10'}"></app-darkline>
