<app-topBand></app-topBand>
<div class="full-page">
  
  <div class="page-body">
    <img
      src="https://assets.nflxext.com/ffe/siteui/acquisition/simplicity/Checkmark.png"
      class="body-img"
    />
    <p class="stages-nbr">
      Étape <span class="nbr">1</span> sur <span class="nbr">3</span>
    </p>
    <h1 class="offer-title">Choisissez votre forfait</h1>
    <ul class="checkmark-list">
      <li class="checkmark-content">
        <svg
          viewBox="0 0 24 24"
          fill="red"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          class="checkmark-icon"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M8.68239 19.7312L23.6824 5.73115L22.3178 4.26904L8.02404 17.6098L2.70718 12.293L1.29297 13.7072L7.29297 19.7072C7.67401 20.0882 8.28845 20.0988 8.68239 19.7312Z"
          ></path>
        </svg>
        <p class="content-p">Sans engagement. Annulable à tout moment</p>
      </li>
      <li class="checkmark-content">
        <svg
          viewBox="0 0 24 24"
          fill="red"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          class="checkmark-icon"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M8.68239 19.7312L23.6824 5.73115L22.3178 4.26904L8.02404 17.6098L2.70718 12.293L1.29297 13.7072L7.29297 19.7072C7.67401 20.0882 8.28845 20.0988 8.68239 19.7312Z"
          ></path>
        </svg>
        <p class="content-p">
          Du divertissement à volonté pour un prix très attractif
        </p>
      </li>
      <li class="checkmark-content">
        <svg
          viewBox="0 0 24 24"
          fill="red"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          class="checkmark-icon"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M8.68239 19.7312L23.6824 5.73115L22.3178 4.26904L8.02404 17.6098L2.70718 12.293L1.29297 13.7072L7.29297 19.7072C7.67401 20.0882 8.28845 20.0988 8.68239 19.7312Z"
          ></path>
        </svg>
        <p class="content-p">Accès illimité sur tous vos appareils</p>
      </li>
    </ul>
    <button class="nextbtn" [routerLink]="['/fr/signup/planform']">
      Suivant
    </button>
  </div>
</div>
<app-wtkm-footer></app-wtkm-footer>
