<footer class="gray-footer">
  <div class="footer-container-2">
    <div class="call-number-2">
      <span>Des questions ? Appelez le</span>
      <span class="nbr-underline-2"> (+33) 0805-543-xxx</span>
    </div>
    <div class="ul-container-2">
      <ul class="footer-list-2">
        <li class="footer-item-2">FAQ</li>
        <li class="footer-item-2">Confidentialité</li>
      </ul>
      <ul class="footer-list-2">
        <li class="footer-item-2">Centre d'aide</li>
        <li class="footer-item-2">Préférences de cookies</li>
      </ul>
      <ul class="footer-list-2">
        <li class="footer-item-2">Boutique Netflix</li>
        <li class="footer-item-2">Mentions légales</li>
      </ul>
      <ul class="footer-list-2">
        <li class="footer-item-2">Conditions d'utilisation</li>
      </ul>
    </div>
    <ng-container *ngTemplateOutlet="customLangBox2"></ng-container>
  </div>
</footer>

<ng-template #customLangBox2>
  <app-langbtn class="customLang-2"></app-langbtn>
</ng-template>
