<footer class="gray-footer">
  <div class="footer-container">
    <div class="call-number">
      <span>Des questions ? Appelez le</span>
      <span class="nbr-underline"> (+33) 0805-543-xxx</span>
    </div>
    <div class="ul-container">
      <ul class="footer-list">
        <li class="footer-item">FAQ</li>
        <li class="footer-item">Confidentialité</li>
      </ul>
      <ul class="footer-list">
        <li class="footer-item">Centre d'aide</li>
        <li class="footer-item">Préférences de cookies</li>
      </ul>
      <ul class="footer-list">
        <li class="footer-item">Boutique Netflix</li>
        <li class="footer-item">Mentions légales</li>
      </ul>
      <ul class="footer-list">
        <li class="footer-item">Conditions d'utilisation</li>
      </ul>
    </div>
    <ng-container *ngTemplateOutlet="customLangBox"></ng-container>
  </div>
</footer>

<ng-template #customLangBox>
  <app-langbtn class="customLang"></app-langbtn>
</ng-template>
