
.top-band {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-top: 0.5rem;
  border-bottom: 1px solid #E6E6E6;
  height: 5rem;
  gap: 70%;
}

.netflix-logo {
  width: 12rem;
  height: auto;
  fill: red;
}
.login {
  font-size: x-large;
  font-weight: 800;
}