<div class="black-bgn">
<div class="text-second">
  <h1 class="segment-title">Créez des profils pour les enfants.</h1>
  <p class="segment-p">
   Les enfants découvrent de nouvelles aventures et retrouvent les personnages préférés dans un espace bien à eux, déjà inclus dans votre abonnement.
  </p>
</div>
<div class="img-video">
<img alt="" src="https://occ-0-6600-768.1.nflxso.net/dnm/api/v6/19OhWN2dO19C9txTON9tvTFtefw/AAAABbN6pi_bFc9A7RIro_XUCRVuEb-PNbPx2G8CMhztwzwCRI6k5QsMd_qUPPkb89KSQwBFg0ijdx88drv37Y4unvXzCjB-V0vIk3mP.png?r=a3e" data-uia="our-story-card-img" class="default-ltr-cache-1d3w5wq">
  <div data-uia="our-story-card-animation" class="default-ltr-cache-eshtlu">
    <div class="default-ltr-cache-0"></div>
    <div
      data-uia="our-story-card-custom"
      aria-hidden="true"
      class="default-ltr-cache-0"
    ></div>
  </div>
</div>
</div>
<app-darkline></app-darkline>
