<div class="faq-container">
  <h1 class="qst-title">Foire aux questions</h1>
  <div
    class="faq-box"
    *ngFor="let faq of faqs"
    [ngClass]="{ open: faq.isOpen }"
    
  >
    <div class="qst-border" (click)="toggleFAQ(faq)">
      <div class="question">{{ faq.question }}</div>
      <div class="cross" *ngIf="!faq.isOpen">+</div>
      <div class="cross" *ngIf="faq.isOpen">&#10005;</div>
    </div>

    <div class="answer" *ngIf="faq.isOpen" [innerHTML]="faq.answer"></div>
    <div class="answerSecond" *ngIf="faq.isOpen">{{ faq.answerSecond }}</div>
  </div>
</div>
