.offer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.offer-header {
  background-color: #E50914;
  border: 2px solid white;
  color: white;
  padding: 6px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 15px;
}

.offer-text {
  font-size: 1.2rem
}
.price {
  font-weight: 800;
  font-size: 1.5rem;
}