<button (click)="isOpen = !isOpen" id="btn-test">
  <img
    class="world"
    [src]="
      'https://cdn.discordapp.com/attachments/1072454364104491049/1072508583478042634/Kolia_world_icon_web_4aa9691b-802a-4148-beb7-1163d8015ace-removebg-preview.png'
    "
    [alt]="''"
  />
  <div class="sellng"> {{ selectedLanguage }}</div>
 
  <span id="ng-test" [ngClass]="{ 'arrow-up': isOpen, 'arrow-down': !isOpen }"> </span>
</button>
<ul *ngIf="isOpen" id="lgn-btn-id">
  <li *ngFor="let language of languages" (click)="selectLanguage(language)">
    {{ language }}
  </li>
</ul>
