<div class="black-bgn">
  <div class="text-second">
    <h1 class="segment-title">Téléchargez vos séries préférées pour les regarder hors connexion.</h1>
    <p class="segment-p">
      Disponible avec toutes les offres, sauf Essentiel avec pub.
    </p>
  </div>
  <div class="stranger-things-phone">
    <img
      alt=""
      src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/mobile-0819.jpg"
      data-uia="our-story-card-img"
      class="default-ltr-cache-1d3w5wq phone-img"
    />
    <div class="under-phone-segment">
    <img
      alt=""
      src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/boxshot.png"
      class="default-ltr-cache-1h4wmqx poster"
    />
    <div class="ins-box-text">
      <span class="upper-text">Stranger Things</span>
      <span class="lower-text">Téléchargement en cours...</span>
    </div>
    <div
      data-uia="our-story-card-custom"
      aria-hidden="true"
      class="default-ltr-cache-93n3kh giff-background"
    ></div>
  </div>
</div>

</div>

<app-darkline></app-darkline>
