.landing-page {
  background-image: url('https://media.discordapp.net/attachments/1072454364104491049/1072459482292043786/Kolia_web_design_mutliple_movies_poster_in_multiple_horizontal__093d20f9-bdb7-4269-92c4-9288c7d3b44a.png?width=488&height=325');
  background-size: cover;
  background-position: center;
  height: 100vh;
}
