<app-topBand></app-topBand>
<div class="full-page-4">
  <div class="stages-title-container">
    <p class="stages-nbr-2">
      Étape <span class="nbr-2">2</span> sur <span class="nbr-2">3</span>
    </p>
    <h1 class="page-2-title">Créez un mot de passe pour activer votre abonnement</h1>
    <h2 class="small-text-p3">
      Plus que quelques étapes et c'est fini ! Plus rien à remplir. 
    </h2>
  </div>
  <form class="email-password-container">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
  
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
  
    <label>
      <input type="checkbox" name="publicity" value="yes">
      I would like to receive more publicity
    </label>
  
    <button type="submit">Submit</button>
  </form>
</div>
<app-wtkm-footer></app-wtkm-footer>