.full-page-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*.stages-title-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
}*/
.stages-nbr-2 {
  width: 50%;
  background-color: red;
}
.nbr-2 {
  font-weight: 600;
}
.page-2-title {
  width: 60%;
  font-size: 2rem;
}
.small-text-p3 {
  width: 60%;
  font-weight: 200;
  color: #333333;
}

.input-form {
  background-color: red;
}
.mail {
  
}

.email-password-container {
  display: flex;
  flex-direction: column;
}
