<app-topBand></app-topBand>
<div class="full-page-4">
  <div class="stages-title-container">
    <p class="stages-nbr-2">
      Étape <span class="nbr-2">2</span> sur <span class="nbr-2">3</span>
    </p>
    <h1 class="page-2-title">
      Créez un mot de passe pour activer votre abonnement
    </h1>
    <h2 class="small-text-p3">
      Plus que quelques étapes et c'est fini ! Plus rien à remplir.
    </h2>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="input-form">
    <!-- Username -->
    <app-input-custom [inputType]="'text'" [formControlName]="'username'" [form]="loginForm" [errorMessages]="loginForm.get('username').errors">
  <span class="label">Nom utilisateur</span>
</app-input-custom>

    <!--Email-->
    <app-input-custom [inputType]="'email'" [formControlName]="'email'" [form]="loginForm">
      <span class="label">Email</span>
    </app-input-custom>
    
    <!--password-->
    <app-input-custom [inputType]="'password'" [formControlName]="'password'" [form]="loginForm">
      <span class="label">Mot de passe</span>
    </app-input-custom>
    
    <!-- Address -->
    <app-input-custom [inputType]="'text'" [formControlName]="'address'" [form]="loginForm">
      <span class="label">Adresse</span>
    </app-input-custom>

    <!-- Zip -->
    <app-input-custom [inputType]="'text'" [formControlName]="'zipCode'" [form]="loginForm">
      <span class="label">Zip code</span>
    </app-input-custom>

    <!--checkbox-->
    <div class="checkbox">
      <label>
        <input type="checkbox" formControlName="morePublicity"/>
        Recevoir plus de publicité
      </label>
    </div>
    <button type="submit" [disabled]="!loginForm.valid">Inscription</button>
  </form>
</div>
<app-wtkm-footer></app-wtkm-footer>
